repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.10.0
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        exclude: ^tests/
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies:
          - toml
          - tomli
        exclude: |
          (?x)^(
            tests/|
            folio_isuser_api/datatypes/generated/
            ).+.py$
  - repo: https://github.com/pycqa/flake8
    rev: "6.0.0"
    hooks:
      - id: flake8
        additional_dependencies:
          - pep8-naming
          - mccabe
          - flake8-docstrings
          - Flake8-pyproject
          - flake8-bugbear
          - flake8-type-checking
        exclude: &flake8_exclude |
          (?x)^(
            tests/
            ).+.py$
      - id: flake8
        name: flake8-tests
        additional_dependencies:
          - pep8-naming
          - mccabe
          - flake8-docstrings
          - Flake8-pyproject
          - flake8-bugbear
          - flake8-type-checking
        files: *flake8_exclude
        args:
          - --extend-ignore
          - D100,D103,E501,N802

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.315
    hooks:
      - id: pyright
        additional_dependencies:
          - pydantic
          - pytest
          - hypothesis
          - .

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.4.0"
    hooks:
      - id: mypy

  # Source: https://medium.com/analytics-vidhya/essential-developer-tools-for-improving-your-python-code-71616254134b
  # Adapted for use with poetry
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest -v --showlocals
        types: [python]
        pass_filenames: false
      - id: coverage
        name: coverage
        stages: [push]
        language: system
        entry: poetry run coverage run
        types: [python]
        pass_filenames: false
